<!-- 关于我 -->

<div class="about">
    <div class="about_img">
        <img src="../img/bg.jpg" class="bg" />
    </div>
	<div class="about_author">Author</div>
	<div class="about_description"><%= theme.about.description %></div>
    
</div>
