<!-- 关于我 -->
<div class="about">
	<div class="about_img">
		<img src="../img/bg.jpg" class="bg" />
	</div>
	<div class="about_author">About_Me</div>
	<div class="about_description"><%= theme.about.description %></div>
	<div class="about_site">About_Site</div>
	<div class="site">
		我建立这个网站的原因，有以下几点：
		<br />
		1，受到我一个好朋友影响，
		<br />
		2，我需要一个地方写点东西，
		<br />
		3，给自己找点事做。
	</div>
	<div class="about_links">Links</div>
	<div class="links">Mail：wuxinrufeng@qq.com</div>
	<div class="about_date">Now</div>
	<div class="date">
		<div class="hour">00</div>
		<div class="tips">:</div>
		<div class="min min2">39</div>
	</div>
</div>
