<!-- logo以及目录 -->
<header>
	<div class="header" id="header">
		<!-- <div class="lyrics" id="lyrics">position</div> -->
		<div class="logo">
			<a href="/" class="title"><%= config.title %></a>
		</div>
		<div id="nav_top" class="nav_top">
			<ul id="menu_tip">
				<li id="menu_item">
					<a href="/archives" class="archives">Archive</a>
				</li>
				<li id="menu_item">
					<a href="/about" class="about">About</a>
				</li>
			</ul>
		</div>
	</div>
</header>
