<header>
	<div class="header">
		<h1 class="logo">
			<a href="/" class="title"><%= config.title %></a>
		</h1>
		<nav id="nav_top">
			<ul id="menu_tip">
				<li id="menu_item">
					<a href="/archives" class="archives">Archive</a>
				</li>
				<li id="menu_item">
					<a href="/about" class="about">About</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
