.about {
	min-height: 1200px;
	max-width: 1100px;
	margin: 0 auto;

	.about_title,
	.about_author,
	.about_site,
	.about_links,
	.about_surprise,
	.about_date {
		margin: 10px auto;
		font-size: 1.6rem;
		color: $title_color;
	}

	.title,
	.about_description,
	.site,
	.surprise,
	.links {
		margin: 10px auto;
		font-size: 1.2rem;
		color: $title_color;
	}
	.date {
		margin: 10px auto;
		font-size: 1.5rem;
		display: flex;
		.hour {
			color: $miku_color4;
		}
		.tips {
			width: 20px;
			text-align: center;
		}
	}

	.about_img {
		width: 100%;
		height: auto;
		margin: 0 auto;
		// background-image: url("../img/bg.jpg");
		#canvas{
			width: 100%;
			height: auto;
		}
	}

	@include max-screen2() {
		#avatars {
			display: none;
		}
	}

	.inject {
		display: block;
		max-width: 1100px;
		margin: 0 auto;
		color: $transparent;
		text-align: center;
		text-overflow: ellipsis;
		overflow: hidden;
		font-size: 1rem;
		height: 1.5rem;
	}
}
