.about {
	min-height: 1200px;
	max-width: 1100px;
	margin: 0 auto;
	.about_title,
	.about_author {
		margin: 10px auto;
		font-size: 1.6rem;
		color: $title_color;
	}

	.about_description {
		margin: 10px auto;
		font-size: 1.2rem;
	}

	.about_img {
		width: 100%;
		margin: 0 auto;
		.bg {
			max-width: 100%;
			height: auto;
			opacity: 1;
		}
	}
}
